.searchField {
	padding: var(--space-lg);
}

.eventDropdown {
	padding: var(--space-xl) var(--space-lg);
	font-size: 18px;
}

.filtersSection {
	display: flex;
	flex-direction: column;
	transition: background var(--transition);
	gap: var(--space-md);
}

.mainEventSection {
	display: flex;
	flex-direction: column;
	transition: background var(--transition);
	gap: var(--space-md);
}

.filterActions {
	display: flex;
	justify-content: space-between;
	margin-bottom: var(--space-xl);
}

.mainAction {
	display: flex;
	justify-content: center;
	margin-top: var(--space-md);
}

/* .eventsList {
	display: flex;
	flex-direction: column;
	gap: var(--space-md);
} */

/* .buttonFooter {
	display: flex;
	justify-content: space-between;
	margin-top: var(--space-md);
} */

.filterButton {
	background: var(--ui-purple-dark);
	color: var(--background-color3);
	gap: var(--space-sm);
	padding: var(--space-md) var(--space-xl);
	margin-right: var(--space-lg);
}

.continueButton {
	background: var(--ui-purple-dark);
	color: var(--background-color3);
	gap: var(--space-sm);
	padding: var(--space-md) var(--space-xl);
	width: 50%;
	justify-content: center;
}

.clearButton {
	background: none;
	box-shadow: none;
	border: none;
	color: var(--background-color3);
	gap: var(--space-sm);
	padding: var(--space-md);
	text-decoration: underline;
}

.clearButton:is(:hover, :focus-visible) {
	background: none;
	opacity: 1;
	border: none;
	color: var(--text-color);
}

@media (min-width: 768px) {
	.searchButton {
		margin-right: var(--space-xl);
	}
}
