.heroSection {
	width: 100%;
}

.searchField {
	padding: var(--space-lg) var(--space-md); /* Increased vertical space */
}

.filters {
	display: flex;
	flex-direction: column;
	transition: background var(--transition);
	gap: var(--space-md);
}

.buttonWrapper {
	display: flex;
	justify-content: center;
	margin-block: var(--space-lg);
}

.recentEvents {
	width: 100%;
	padding-bottom: var(--space-lg);
}

.eventsList {
	display: flex;
	flex-direction: column;
	gap: var(--space-md);
}
